<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card padding>
    <ion-list>
      <ion-item>
        <ion-label position="floating">Server Host + Port</ion-label>
        <ion-input [(ngModel)]="server_add" placeholder="http://localhost:8080" value="http://localhost:8080"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input [(ngModel)]="name"></ion-input>
      </ion-item>
    </ion-list>
  
    <div class="ion-padding">
  
      <button ion-button (click)="connectTele()">
        CONNECT
      </button>
     
    </div>
  </ion-card>
</ion-content>
